body {
    background: linear-gradient(#ffc2d7, #e7bbff, #c7b2ff, #c9d9ff, #e2fcff);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#title {
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: skyblue;
    padding: 5px;
    box-shadow: 0px 0px 10px #6495ED;
    margin: 10%;
    background: skyblue;
    text-align: center;
    color: white;
    font-family: "Bricolage Grotesque";
    font-weight: 700;
    
}


#essay {
    border-style: solid;
    border-radius: 10px;
    border-width: 8px;
    border-color: skyblue;
    padding: 5px;
    box-shadow: 0px 0px 10px #6495ED;
    margin: 5%;
    background: skyblue;
    text-align: center;
    text-align: justify;
    text-indent: 20px;
    color: white;
    font-family: "Bricolage Grotesque";
    font-size: 18px;
}    

.heart {
    position: relative;
    left: 27%;
}

.popup {
    border: 5px solid linear-gradienr(skyblue, white);
    box-shadow: 0px 0px 10px #6495ED;
    border-radius: 20px;
    width: 300px;
    height: 525px;
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: linear-gradient(skyblue, white);
    z-index: 100;
}
.btn {
    padding: 15px 65px;
    background: black;
    color: white;
    border: 0;
    border-radius: 50px;
    outline: none;
    font-family: "Bricolage Grotesque";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.btn1 {
    padding: 15px 65px;
    background: black;
    color: white;
    border: 0;
    border-radius: 50px;
    outline: none;
    font-family: "Bricolage Grotesque";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 70px;
}
.onlyimg {
    margin-top: 20px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px black;
}    
.musictext {
    color: white;
    font-family: "Bricolage Grotesque";
    font-weight: 700;
    text-shadow: 0px 0px 2px grey;
}
.warning {
    border-style: solid;
    border-width: 5px;
    border-color: #E1C16E;
    background: #f5e06c;
    border-radius: 20px;
    height: 109px;
    width: 264px;
    padding: 12px;
    transform: translateY(-65px);
    margin-left: 0.2%;
}
.warning h3 {
    font-family: "Bricolage Grotesque";
    font-size: 17px;
    color: white;
    text-align: left;
    text-align: justify;
    text-indent: 10px;
    text-shadow: 0px 0px 3px grey;
    display: inline-block;
    margin-left: %;
    transform: translateY(-11px);
}
.link {
    background: linear-gradient(145deg, #ffc2d7, #e7bbff, #c7b2ff, #c9d9ff, #e2fcff);
    box-shadow: 0px 0px 5px #6495ED;
    text-shadow: 0px 0px 5px grey;
    width: 300px;
    height: 70px;
    border-radius: 40px;
    font-family: "Bricolage Grotesque";
    font-size: 20px;
    font-weight: 700;
    margin-left: 6%;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 5px;    
}
.link a {
    text-decoration: none;
    display: inline-block;
    margin-left: 24%;
    margin-top: 3px;
    color: white;
    
}
.logo {
    display: flex;
    position: absolute;
    border-radius: 100%;
    box-shadow: 0px 0px 5px black;
    margin-left: 3%;
    align-items: center;
    justify-content: center;
    transform: translateY(20%);    font-size: 18px;
}    

.heart {
    position: relative;
    left: 27%;
}

.popup {
    border: 5px solid linear-gradienr(skyblue, white);
    box-shadow: 0px 0px 10px #6495ED;
    border-radius: 20px;
    width: 300px;
    height: 525px;
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: linear-gradient(skyblue, white);
    z-index: 100;
}
.btn {
    padding: 15px 65px;
    background: black;
    color: white;
    border: 0;
    border-radius: 50px;
    outline: none;
    font-family: "Bricolage Grotesque";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.btn1 {
    padding: 15px 65px;
    background: black;
    color: white;
    border: 0;
    border-radius: 50px;
    outline: none;
    font-family: "Bricolage Grotesque";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 70px;
}
.onlyimg {
    margin-top: 20px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px black;
}    
.musictext {
    color: white;
    font-family: "Bricolage Grotesque";
    font-weight: 700;
    text-shadow: 0px 0px 2px grey;
    }
