body {
    background: linear-gradient(#ffc2d7, #e7bbff, #c7b2ff, #c9d9ff, #e2fcff);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#title {
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: skyblue;
    padding: 5px;
    box-shadow: 0px 0px 10px #6495ED;
    margin: 10%;
    background: skyblue;
    text-align: center;
    color: white;
    font-family: "Bricolage Grotesque";
    font-weight: 700;
    
}


#essay {
    border-style: solid;
    border-radius: 10px;
    border-width: 8px;
    border-color: skyblue;
    padding: 5px;
    box-shadow: 0px 0px 10px #6495ED;
    margin: 5%;
    background: skyblue;
    text-align: center;
    text-align: justify;
    text-indent: 20px;
    color: white;
    font-family: "Bricolage Grotesque";
    font-size: 18px;
}    

.heart {
    position: relative;
    left: 27%;
}

.popup {
    border: 5px solid linear-gradienr(skyblue, white);
    box-shadow: 0px 0px 10px #6495ED;
    border-radius: 20px;
    width: 300px;
    height: 525px;
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: linear-gradient(skyblue, white);
    z-index: 100;
}
.btn {
    padding: 15px 65px;
    background: black;
    color: white;
    border: 0;
    border-radius: 50px;
    outline: none;
    font-family: "Bricolage Grotesque";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.btn1 {
    padding: 15px 65px;
    background: black;
    color: white;
    border: 0;
    border-radius: 50px;
    outline: none;
    font-family: "Bricolage Grotesque";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 70px;
}
.onlyimg {
    margin-top: 20px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px black;
}    
.musictext {
    color: white;
    font-family: "Bricolage Grotesque";
    font-weight: 700;
    text-shadow: 0px 0px 2px grey;
    }
